.fimls_container{
    background-color: #1a1a1a;
    width: 100%;
    padding: 10px 0;
    .fimls-content{
        border-top: 4px solid #ef5f06;
        width: 60%;
        margin: 0 auto;
        .title{
            background-color: #282828;
            display: flex;
            align-items: center;
            padding: 10px;
            font-size: 15px;
            margin-bottom: 10px;
            color: #fff;
            p{
                text-transform: uppercase;
                font-weight: 700;
            }
            i{
                margin-right: 5px;
            }
        }
        .selector{
            display: flex;
            justify-content: space-around;
            align-items: center;
            margin-bottom: 15px;
            select{
                padding: 5px;
                border-radius: 10px;
                font-size: 16px;
                cursor: pointer;
                outline: none;
                option{
                    outline: none;
                    border: none;
                }
            }
            button{
                width: 90px;
                height: 40px;
                border-radius: 10px;
                font-size: 16px;
                color: #fff;
                font-weight: 600;
                background-color: green;
                cursor: pointer;
                transition: all 0.3s ease;
            }
            button:hover{
                opacity: 0.7;
            }
        }
        .fimlsall{
            padding-top: 10px;
            background-color: #1a1a1a;
            display: flex;
            flex-wrap: wrap;
            justify-content: space-between;
            a{
                width: 24.5%;
            }
        }
        .pagination{
            width: 100%;
            text-align: center;
            display: inline-block;
            margin-bottom: 15px;
            a{
                color: white;
                padding: 8px 16px;
                text-decoration: none;
            }
            .active{
                background-color: #4CAF50;
                color: white;
                border-radius: 5px;
            }
            a:hover:not(.active){
                background-color: #ddd;
                border-radius: 5px;
            }
        }
    }
}
@media only screen and (max-width: 1024px) {
    .fimls_container{
        .fimls-content{
            width: 85%;
        }
    }
}
@media only screen and (max-width:768px) {
    .fimls_container{
        .fimls-content{
            width: 95%;
            .fimlsall{
                padding-top: 10px;
                background-color: #1a1a1a;
                display: flex;
                flex-wrap: wrap;
                justify-content: space-between;
                a{
                    width: 32%;
                }
            }
        }
    }
}
@media only screen and (max-width:480px) {
    .fimls_container{
        .fimls-content{
            width: 99%;
            .selector{
                select{
                    font-size: 10px;
                }
                button{
                    width: 65px;
                    height: 30px;
                    font-size: 10px;
                }
            }
            .fimlsall{
                padding-top: 10px;
                background-color: #1a1a1a;
                display: flex;
                flex-wrap: wrap;
                justify-content: space-between;
                a{
                    width: 48%;
                }
            }
        }
    }
}