.xemphim-conatiner{
    background-color: #1a1a1a;
    width: 100%;
    padding: 20px 0;
    .xemphim-content{
        width: 70%;
        margin: 0 auto;
        .main-phim{
            width: 100%;
            text-align: center;
            iframe{
                width: 100%;
                height: 500px;
                margin-bottom: 10px;
                border-radius: 10px;
            }
            .sory{
                text-align: center;
                color: yellow;
                font-size: 17px;
                font-weight: 500;
                margin-bottom: 10px;
            }
            button{
                border: none;
                background-color: #ddd;
                padding: 10px;
                border-radius: 10px;
                cursor: pointer;
                transition: all 0.3s ease;
                a{
                    color:  red;
                    font-size: 15px;
                    font-weight: 600;
                }
            }
            button:hover{
                background-color: rgb(179, 37, 37);
                a{
                    color: #fff;
                }
            }
        }
        .server{
            background-color: #353535;
            padding: 10px 20px;
            border-radius: 10px;
            display: flex;
            align-items: center;
            margin-top: 10px;
            margin-bottom: 20px;
            .first{
                width: 13%;
                color: yellow;
                font-size: 16px;
                font-weight: 600;
                cursor:default;
                i{
                    margin-right: 5px;
                }
            }
            .second{
                padding: 5px;
                background-color: rgb(221, 116, 29);
                color: #fff;
                border-radius: 10px;
                font-size: 13px;
                font-weight: 700;
                cursor:default;
            }
        }
        .name{
            padding: 5px 10px;
            font-size: 19px;
            .nametv{
                color: yellow;
                font-weight: 700;
                margin-bottom: 5px;
            }
            .nameta{
                color: #fff;
                font-size: 15px;
                font-weight: 500;
                margin-bottom: 20px;
            }
        }
        .episodes{
            padding: 5px 10px;
            .chontap{
                display: flex;
                align-items: center;
                color: #fff;
                margin-bottom: 5px;
                i{
                    margin-right: 5px;
                }
                p{
                    font-size: 14px;
                    font-weight: 600;
                    text-transform: uppercase;
                }
            }
            .tap{
                display: flex;
                flex-wrap: wrap;
                align-items: center;
                button{
                    text-align: center;
                    border-radius: 5px;
                    width: 50px;
                    height: 35px;
                    margin-bottom: 5px;
                    margin-right: 5px;
                    cursor: pointer;
                    background-color: rgb(82, 82, 82);
                    transition: all 0.3s ease;
                    a{
                        line-height: 35px;
                        display: block;
                        width: 100%;
                        height: 100%;
                        color: #fff;
                        font-size: 14px;
                    }
                }
                button:hover{
                    background-color: rgb(46, 197, 46);
                }
            }
        }
        .comments{
            background-color: #fff;
            width: 98%;
            margin: 0 auto;
            border-radius: 5px;
            margin-bottom: 10px;
            padding: 10px;
            p{
                color: #000;
                font-size: 14px;
                font-weight: 400;
                line-height: 1.5;
            }
            .post{
                position: relative;
                .postcomment{
                    max-width: 90%;
                    min-width: 90%;
                    min-height: 70px;
                    border-radius: 5px;
                    padding: 10px;
                    font-size: 17px;
                }
                .button{
                    position: absolute;
                    top: 22%;
                    right: -17px;
                    padding: 8px 15px;
                    font-size: 19px;
                    font-weight: 600;
                    cursor: pointer;
                    border-radius: 10px;
                    border: 1px solid #ddd;
                    display: inline-block;
                    transition: all 0.3s ease;
                    color: #fff;
                    background-color: #ef5f06;
                    margin-right: 15px;
                    &:hover{
                        background-color: #ea803e;
                    }
                }
            }
            .err{
                font-size: 18px;
                text-align: center;
                color: red;
            }
        }
    }
}

@media only screen and (max-width: 1024px) {
    .xemphim-conatiner{
        .xemphim-content{
            width: 85%;
        }
    }
}
@media only screen and (max-width: 768px) {
    .xemphim-conatiner{
        .xemphim-content{
            width: 95%;
        }
    }
}
@media only screen and (max-width: 480px) {
    .xemphim-conatiner{
        .xemphim-content{
            width: 99%;
            .main-phim{
                iframe{
                    height: 350px;
                }
                .sory{
                    font-size: 12px;
                }
                button{
                    padding: 5px;
                    a{
                        font-size: 13px;
                    }
                }
            }
            .server{
                .first{
                    width: 35%;
                    font-size: 14px;
                }
                .second{
                    font-size: 12px;
                }
            }
            .name{
                font-size: 17px;
                .nameta{
                    font-size: 13px;
                }
            }
            .episodes{
                .tap{
                    button{
                        width: 48px;
                    }
                }
            }
        }
    }
}